<nz-tabset [nzTabPosition]="'top'" [nzType]="'card'" [(nzSelectedIndex)]="selectedIndex">
  <nz-tab [nzTitle]="'基础信息'">
    <div nz-row class="detail-table" style="margin: 10px 0">
      <div nz-col nzSpan="4">所属金库</div>
      <div nz-col nzSpan="4">{{task?.clrCenterName}}</div>
      <div nz-col nzSpan="4">申请网点</div>
      <div nz-col nzSpan="4">{{task?.orgName}}</div>
      <div nz-col nzSpan="4">调入日期</div>
      <div nz-col nzSpan="4">{{task?.planFinishDate}}</div>
      <div nz-col nzSpan="4">申请人</div>
      <div nz-col nzSpan="4">{{task?.createOpName}}</div>
      <div nz-col nzSpan="4">申请日期</div>
      <div nz-col nzSpan="4">{{task?.createTime}}</div>
      <div nz-col nzSpan="4">现金箱数量</div>
      <div nz-col nzSpan="4">{{containerList?.length}}</div>
      <div nz-col nzSpan="4">备注</div>
      <div nz-col nzSpan="20">{{taskDetail?.note}}</div>
    </div>
    <div nz-row style="margin: 10px 0">
      <div nz-col [nzSpan]="12">
        <span style="font-size: 20px;">具体调入信息</span>
      </div>
    </div>
    <nz-table #editTable nzBordered [nzSize]="'middle'" [nzData]="containerList" [nzShowPagination]="false">
      <thead>
      <tr>
        <th nzShowExpand></th>
        <th>现金箱编号</th>
        <th nzAlign="right">调入金额</th>
      </tr>
      </thead>
      <tbody>
      <ng-template ngFor let-data let-i="index" [ngForOf]="containerList">
        <tr>
          <td nzShowExpand [(nzExpand)]="data.expand"></td>
          <td>{{ data.containerNo }}</td>
          <td nzAlign="right">{{ data.amount | currency:'CNY':'symbol-narrow' }}</td>
        </tr>
        <tr [nzExpand]="data.expand">
          <td></td>
          <td colspan="2">
            <nz-table #innerTable [nzData]="data.currencyTypeList" nzSize="small" [nzShowPagination]="false">
      <thead>
      <tr>
        <th>币种</th>
        <th>类别</th>
        <th>券别</th>
        <th nzAlign="right">金额</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let innerData of innerTable.data">
        <td>
          <app-enum-info type="CURRENCY_CODE" [value]="innerData.currencyCode"></app-enum-info>
        </td>
        <td>
          <app-enum-info type="CURRENCY_TYPE" [value]="innerData.currencyType"></app-enum-info>
        </td>
        <td>
          <app-enum-info type="DENOMINATION" [value]="innerData.denomination"></app-enum-info>
        </td>
        <td nzAlign="right">{{ innerData.amount | currency:'CNY':'symbol-narrow' }}</td>
      </tr>
      </tbody>
    </nz-table>
    </td>
    </tr>
    </ng-template>
    </tbody>
    </nz-table>
  </nz-tab>
  <nz-tab nzTitle="操作记录">
    <nz-collapse>
      <nz-collapse-panel
        [nzHeader]="'操作流程图'"
        [nzActive]="true">
        <ng-container *ngIf="selectedIndex===1">
          <operate-flow-chart [recordList]="recordList" [statusList]="statusList" [statusTransitionList]="statusTransitionList"></operate-flow-chart>
        </ng-container>
      </nz-collapse-panel>
    </nz-collapse>
    <nz-collapse>
      <nz-collapse-panel
        [nzHeader]="'操作表'"
        [nzActive]="true">
        <nz-table #operateTable nzBordered [nzSize]="'middle'" [nzData]="recordList"
                  [nzShowPagination]="false">
          <thead>
          <tr>
            <th>上一状态</th>
            <th>当前状态</th>
            <th>操作</th>
            <th>时间</th>
            <th>操作人员</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let data of recordList">
            <td>{{data.beforeNodeName}}</td>
            <td>{{data.curNodeName}}</td>
            <td>{{data.operateTypeName}}</td>
            <td>{{data.finishTime}}</td>
            <td>{{data.opName}}</td>
          </tr>
          </tbody>
        </nz-table>
      </nz-collapse-panel>
    </nz-collapse>
  </nz-tab>
</nz-tabset>
