<form nz-form [formGroup]="validateForm" (ngSubmit)="_submitForm()">


  <nz-form-item nz-row>
    <nz-form-label nz-col [nzSm]="6" [nzXs]="24" nzRequired>
      钥匙编号
    </nz-form-label>
    <nz-form-control nz-col [nzSm]="14" [nzXs]="24" [nzValidateStatus]="getFormControl('keyNo')" nzHasFeedback>
      <input nz-input nzSize="'middle'" formControlName="keyNo" id="'keyNo'" maxlength="32">
      <nz-form-explain *ngIf="getFormControl('keyNo').dirty&&validateForm.controls['keyNo'].errors">
        <span style="color: red;">请填写钥匙编号</span>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>


  <nz-form-item nz-row>
    <nz-form-label nz-col [nzSm]="6" [nzXs]="24" nzRequired>
      所属金库
    </nz-form-label>
    <nz-form-control nz-col [nzSm]="14" [nzXs]="24" [nzValidateStatus]="getFormControl('clrCenterNo')" nzHasFeedback>

      <select-clr-center formControlName="clrCenterNo" id="'clrCenterNo'"></select-clr-center>
      <nz-form-explain *ngIf="getFormControl('clrCenterNo').dirty&&validateForm.controls['clrCenterNo'].errors">
        <span style="color: red;">请选择所属金库</span>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>


  <nz-form-item nz-row>
    <nz-form-label nz-col [nzSm]="6" [nzXs]="24" nzRequired>
      使用范围
    </nz-form-label>
    <nz-form-control nz-col [nzSm]="14" [nzXs]="24" [nzValidateStatus]="getFormControl('useRange')" nzHasFeedback>
      <nz-select [nzSize]="'middle'" id="useRange" formControlName="useRange" name="useRange" nzAllowClear
                 [nzPlaceHolder]="'--请选择使用范围--'">
        <!--<nz-option *ngFor="let r of useRanges" [nzLabel]="r.name" [nzValue]="r.no"></nz-option>-->
        <nz-option [nzValue]="1" [nzLabel]="'金库'"></nz-option>
        <nz-option [nzValue]="2" [nzLabel]="'网点'"></nz-option>
        <nz-option [nzValue]="3" [nzLabel]="'设备'"></nz-option>
      </nz-select>

    </nz-form-control>
  </nz-form-item>

  <nz-form-item nz-row>
    <nz-form-label nz-col [nzSm]="6" [nzXs]="24" nzRequired>
      钥匙类型
    </nz-form-label>
    <nz-form-control nz-col [nzSm]="14" [nzXs]="24" [nzValidateStatus]="getFormControl('keyType')" nzHasFeedback>
      <nz-select [nzSize]="'middle'" id="keyType" formControlName="keyType" name="keyType" nzAllowClear
                 [nzPlaceHolder]="'--请选择钥匙类型--'">
        <nz-option *ngFor="let r of keyTypes" [nzLabel]="r.keyTypeName" [nzValue]="r.keyTypeNo"></nz-option>
      </nz-select>


      <nz-form-explain *ngIf="getFormControl('keyType').dirty&&validateForm.controls['keyType'].errors">
        <span style="color: red;">请选择钥匙类型</span>
      </nz-form-explain>
    </nz-form-control>


  </nz-form-item>

  <nz-form-item nz-row>
    <nz-form-label nz-col [nzSm]="6" [nzXs]="24" >
      所属钥匙串编号
    </nz-form-label>
    <nz-form-control nz-col [nzSm]="14" [nzXs]="24" [nzValidateStatus]="getFormControl('keyGroupNo')" nzHasFeedback>
      <input nz-input nzSize="'middle'" formControlName="keyGroupNo" id="'keyGroupNo'" maxlength="32">
      <nz-form-explain *ngIf="getFormControl('keyGroupNo').dirty&&validateForm.controls['keyGroupNo'].errors">
        <span style="color: red;">请填写所属钥匙串编号</span>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>


  <nz-form-item nz-row>
    <nz-form-label nz-col [nzSm]="6" [nzXs]="24" >
      所属网点
    </nz-form-label>
    <nz-form-control nz-col [nzSm]="14" [nzXs]="24" [nzValidateStatus]="getFormControl('netPointNo')" nzHasFeedback>
      <input nz-input nzSize="'middle'" formControlName="netPointNo" id="'netPointNo'" maxlength="20">
    </nz-form-control>
  </nz-form-item>

  <nz-form-item nz-row>
    <nz-form-label nz-col [nzSm]="6" [nzXs]="24" >
      所属设备
    </nz-form-label>
    <nz-form-control nz-col [nzSm]="14" [nzXs]="24" [nzValidateStatus]="getFormControl('devNo')" nzHasFeedback>
      <input nz-input nzSize="'middle'" formControlName="devNo" id="'devNo'" maxlength="32">
      <nz-form-explain *ngIf="getFormControl('devNo').dirty&&validateForm.controls['devNo'].errors">
        <span style="color: red;">请填写所属设备</span>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item nz-row>
    <nz-form-label nz-col [nzSm]="6" [nzXs]="24" nzRequired>
      钥匙性质
    </nz-form-label>
    <nz-form-control nz-col [nzSm]="14" [nzXs]="24" [nzValidateStatus]="getFormControl('keyProperty')" nzHasFeedback>
      <nz-select [nzSize]="'middle'" id="keyProperty" formControlName="keyProperty" name="keyProperty" nzAllowClear
                 [nzPlaceHolder]="'--请选择钥匙性质--'">
        <nz-option [nzValue]="0" [nzLabel]="'正常'"></nz-option>
        <nz-option [nzValue]="1" [nzLabel]="'备用'"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item nz-row>
    <nz-form-label nz-col [nzSm]="6" [nzXs]="24" nzRequired>
      钥匙状态
    </nz-form-label>
    <nz-form-control nz-col [nzSm]="14" [nzXs]="24" [nzValidateStatus]="getFormControl('status')" nzHasFeedback>
      <nz-select [nzSize]="'middle'" id="status" formControlName="status" name="status" nzAllowClear
                 [nzPlaceHolder]="'--请选择钥匙状态--'">
        <nz-option [nzValue]="0" [nzLabel]="'已停用'"></nz-option>
        <nz-option [nzValue]="1" [nzLabel]="'未分配'"></nz-option>
        <nz-option [nzValue]="2" [nzLabel]="'已分配'"></nz-option>
        <nz-option [nzValue]="3" [nzLabel]="'已申请'"></nz-option>
        <nz-option [nzValue]="4" [nzLabel]="'已领用'"></nz-option>
        <nz-option [nzValue]="5" [nzLabel]="'已遗失'"></nz-option>
        <nz-option [nzValue]="6" [nzLabel]="'已损坏'"></nz-option>

      </nz-select>

    </nz-form-control>
  </nz-form-item>

  <nz-form-item nz-row>
    <nz-form-label nz-col [nzSm]="6" [nzXs]="24" >
      钥匙描述
    </nz-form-label>
    <nz-form-control nz-col [nzSm]="14" [nzXs]="24" [nzValidateStatus]="getFormControl('keyDesp')" nzHasFeedback>
      <input nz-input nzSize="'middle'" formControlName="keyDesp" id="'keyDesp'" maxlength="100">
    </nz-form-control>
  </nz-form-item>

  <nz-form-item nz-row>
    <nz-form-label nz-col [nzSm]="6" [nzXs]="24" >
      备注
    </nz-form-label>
    <nz-form-control nz-col [nzSm]="14" [nzXs]="24" [nzValidateStatus]="getFormControl('note')" nzHasFeedback>
      <input nz-input nzSize="'middle'" formControlName="note" id="'note'" maxlength="100">
    </nz-form-control>
  </nz-form-item>

  <nz-form-item  nz-row style="margin-bottom:8px;">
    <nz-form-control  nz-col style="text-align: center">
      <button nz-button nzSize="'middle'" [nzType]="'primary'" style="width: 50%;">提交</button>
    </nz-form-control>
  </nz-form-item>


</form>
