<form nz-form #form="ngForm" class="search-form">
  <div nz-row>
    <div nz-col [nzXs]="6">
        <nz-form-item nz-row>
            <nz-form-label nz-col [nzSpan]="8">
                <label [attr.for]="'clrCenterNo'">所属金库</label>
            </nz-form-label>
            <nz-form-control nz-col [nzSpan]="14">
              <select-clr-center name="clrCenterNo" [(ngModel)]="formModel['clrCenterNo']"></select-clr-center>
            </nz-form-control>
        </nz-form-item>
    </div>
    <div nz-col [nzSpan]="6">
        <nz-form-item nz-row>
            <nz-form-label nz-col [nzSpan]="8">
                <label [attr.for]="'warnType'">预警类别</label>
            </nz-form-label>
            <nz-form-control nz-col [nzSpan]="14">
                <nz-select [(ngModel)]="formModel['warnType']" [nzPlaceHolder]="'请选择类别'" name="warnType" nzAllowClear [nzSize]="'default'">
                    <nz-option *ngFor="let option of warnTypes" [nzLabel]="option.label" [nzValue]="option.value">
                    </nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
    </div>
    <div nz-col [nzSpan]="6" >
      <nz-form-item nz-row>
        <nz-form-label nz-col [nzSpan]="8">
          <label [attr.for]="'startDate'">开始时间</label>
        </nz-form-label>
        <nz-form-control nz-col [nzSpan]="14">
          <nz-date-picker [(ngModel)]="formModel['startDate']" [nzPlaceHolder]="'请选择开始日期'" [nzSize]="'default'"
                          name="startDate"
                          style="width: 100%"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="6" >
      <nz-form-item nz-row>
        <nz-form-label nz-col [nzSpan]="8">
          <label [attr.for]="'endDate'">结束时间</label>
        </nz-form-label>
        <nz-form-control nz-col [nzSpan]="14">
          <nz-date-picker [(ngModel)]="formModel['endDate']" [nzPlaceHolder]="'请选择结束日期'" [nzSize]="'default'"
                          name="endDate" style="width: 100%"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSm]="24" [nzXs]="12" style="text-align: center">
      <nz-form-item nz-row>
        <div nz-col>
          <button nz-button [nzType]="'primary'" [nzSize]="'default'" (click)="search()" [nzLoading]="loading">
            <i class="anticon anticon-search"></i><span>查询</span>
          </button>
          <button nz-button [nzType]="'default'" [nzSize]="'default'" (click)="reset()" [nzLoading]="loading">
            <i class="anticon anticon-sync"></i><span>重置</span>
          </button>
        </div>
      </nz-form-item>
    </div>
  </div>
</form>

<div nz-row class="zijin-row">
  <div nz-col [nzSpan]="12">
    <span style="font-size: 20px;">预警信息管理</span>
  </div>
</div>

<ng-template #pageSizeTem>
  共 {{page.totalRow}} 条
</ng-template>

<div class="search-result-list">
  <nz-table #nzTable
            nzSize="middle"
            nzShowSizeChanger
            [nzFrontPagination]="false"
            [nzShowTotal]="pageSizeTem"
            [nzLoading]="loading"
            [nzData]="dataSet"
            [(nzPageIndex)]="page.curPage"
            [(nzPageSize)]="page.pageSize"
            [nzTotal]="page.totalRow"
            (nzPageSizeChange)="refreshData(true)"
            (nzPageIndexChange)="refreshData()"
  >
    <thead>
    <tr>
      <th>预警编号</th>
      <th>所属金库</th>
      <th>预警类型</th>
      <th>预警日期</th>
      <th>预警时间</th>
      <th>预警信息</th>
      <th>处理结果</th>
      <th>备注</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of nzTable.data;">
      <td><a (click)="openDetail(data)">{{data.warnMessageId}}</a></td>
      <td>{{data.centerName}}</td>
      <td>
          <span *ngIf="data.warnMessageType=='1'">可疑人员滞留</span>
          <span *ngIf="data.warnMessageType=='2'">人员、车俩闯入</span>
          <span *ngIf="data.warnMessageType=='999'">110报警</span>
      </td>
      <td>{{data.warnMessageDate}}</td>
      <td>{{data.warnMessageTime}}</td>
      <td>{{data.warnMessageInfo}}</td>
      <td>{{data.warnMessageHandleResult}}</td>
      <td>{{data.warnMessageDetailInfo}}</td>
      <td><a (click)="openHandle(data)">处理</a></td>
    </tr>
    </tbody>
  </nz-table>
</div>



