<form nz-form [formGroup]="validateForm" (ngSubmit)="_submitForm()">
  <div nz-row>
    <div nz-col [nzSm]="12" [nzXs]="24">
      <nz-form-item nz-row>
        <nz-form-label nz-col [nzSm]="6" [nzXs]="24" nzRequired>
          钞箱编号
        </nz-form-label>
        <nz-form-control nz-col [nzSm]="14" [nzXs]="24" [nzValidateStatus]="getFormControl('casstte_no')" nzHasFeedback>
          <input nz-input nzSize="'middle'" [(ngModel)]="formModel['casstte_no']" formControlName="casstte_no"
            id="'casstte_no'">
          <nz-form-explain
            *ngIf="validateForm.controls['casstte_no'].dirty&&validateForm.controls['casstte_no'].errors">
            <ng-container *ngIf="getFormControl('casstte_no').hasError('required')">
              <span style="color: red;">请输入钞箱编号</span>
            </ng-container>
            <ng-container *ngIf="getFormControl('casstte_no').hasError('minlength')">
              <span style="color: red;">钞箱编号至少9位</span>
            </ng-container>
            <ng-container *ngIf="getFormControl('casstte_no').hasError('maxlength')">
              <span style="color: red;">钞箱编号最多32位</span>
            </ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div *ngFor="let attr of attrList" nz-col [nzSm]="12" [nzXs]="24">
      <nz-form-item nz-row>
        <nz-form-label nz-col [nzSm]="6" [nzXs]="24" nzRequired>
          {{attr.propertyName}}
        </nz-form-label>
        <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback [nzValidateStatus]="getFormControl('propertyNo')">
          <nz-select *ngIf="attr.propertyType === 1" nzSize="middle" [formControlName]="attr.propertyNo"
            [id]="attr.propertyNo">
            <nz-option *ngFor="let pv of attr.propertyValueDetail" [nzLabel]="pv.propertyValue"
              [nzValue]="pv.propertyValue"></nz-option>
          </nz-select>
          <input *ngIf="attr.propertyType === 2" nz-input nzSize="middle" [formControlName]="attr.propertyNo"
            [id]="attr.propertyNo">
          <nz-input-number *ngIf="attr.propertyType === 3" nzSize="middle" [formControlName]="attr.propertyNo"
            [id]="attr.propertyNo"></nz-input-number>
          <nz-form-explain
            *ngIf="validateForm.controls[attr.propertyNo].dirty && validateForm.controls[attr.propertyNo].errors">
            <ng-container *ngIf="validateForm.controls[attr.propertyNo].hasError('required')">
              <span style="color: red">请输入{{attr.propertyName}}!</span>
            </ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSm]="12" [nzXs]="24">
      <nz-form-item nz-row>
        <nz-form-label nz-col [nzSm]="6" [nzXs]="24" nzRequired>
          钞箱状态
        </nz-form-label>
        <nz-form-control nz-col [nzSm]="14" [nzXs]="24" [nzValidateStatus]="getFormControl('status')" nzHasFeedback>
          <nz-select [nzSize]="'middle'" [(ngModel)]="formModel['status']" id="status" formControlName="status"
            name="status" nzAllowClear [nzPlaceHolder]="'--请选择钞箱状态--'">
            <nz-option *ngFor="let r of statusList" [nzLabel]="r.name" [nzValue]="r.value"></nz-option>
          </nz-select>
          <nz-form-explain *ngIf="getFormControl('status').dirty&&validateForm.controls['status'].errors">
            <span style="color: red;">请选择钞箱状态</span>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <nz-form-item nz-row style="margin-bottom:8px;">
    <nz-form-control nz-col style="text-align: center">
      <button nz-button nzSize="'middle'" [nzType]="'primary'" style="width: 30%;">提交</button>
    </nz-form-control>
  </nz-form-item>
</form>