<div>
  <form nz-form #form="ngForm" class="search-form">
    <div nz-row>
      <div nz-col [nzSpan]="6">
        <div nz-row>
          <nz-form-label nz-col [nzSpan]="8" style="width: auto">
            参数名称
          </nz-form-label>
          <nz-form-control nz-col [nzSpan]="15">
            <input nz-input [nzSize]="'default'" [(ngModel)]="formModel['paramName']" name="paramName"
                   [id]="'paramName'">
          </nz-form-control>
        </div>
      </div>
      <div nz-col [nzSpan]="6">
        <div nz-row>
          <nz-form-label nz-col [nzSpan]="8" style="width: auto">
            参数类型
          </nz-form-label>
          <nz-form-control nz-col [nzSpan]="15">
            <nz-select [(ngModel)]="formModel['catalog']" [nzSize]="'default'" name="catalog" nzAllowClear
                       [nzPlaceHolder]="'--请选择参数类型--'">
              <nz-option *ngFor="let item of paramCatalogList" [nzLabel]="item?.catalogName"
                         [nzValue]="item?.catalog"></nz-option>
            </nz-select>
          </nz-form-control>
        </div>
      </div>

      <div nz-col [nzSpan]="6">
        <div nz-row>
          <nz-form-label nz-col [nzSpan]="8" style="width: auto">
            参数说明
          </nz-form-label>
          <nz-form-control nz-col [nzSpan]="15">
            <input nz-input [nzSize]="'default'" [(ngModel)]="formModel['statement']" name="statement"
                   [id]="'statement'">
          </nz-form-control>
        </div>
      </div>
      <div nz-col [nzSpan]="6">
        <div nz-row>
          <nz-form-label nz-col [nzSpan]="8" style="width: auto">
            参数描述
          </nz-form-label>
          <nz-form-control nz-col [nzSpan]="15">
            <input nz-input [nzSize]="'default'" [(ngModel)]="formModel['description']" name="description"
                   [id]="'description'">
          </nz-form-control>
        </div>
      </div>

    </div>
    <div nz-row style="margin-top: 10px" align="center">
      <button nz-button [nzType]="'primary'" (click)="search()" [nzSize]="'default'" [nzLoading]="loading">
        <i class="anticon anticon-search"></i>
        <span>查询</span>
      </button>
      <button nz-button (click)="form.reset();refreshData(true)" [nzSize]="'default'" [nzLoading]="loading">
        <i class="anticon anticon-sync"></i>
        <span>重置</span>
      </button>
    </div>
  </form>
  <div nz-row class="zijin-row">
    <div nz-col [nzSpan]="12">
      <span style="font-size: 20px;">参数管理</span>
    </div>
    <div nz-col [nzSpan]="12" style="text-align: right;">
      <button nz-button [nzType]="'primary'" (click)="openAdd()" [nzSize]="'default'" *authId="'A0502'">
        <i class="anticon anticon-plus"></i>
        <span>添加</span>
      </button>
    </div>
  </div>
  <ng-template #pageSizeTem>
    共 {{page.totalRow}} 条
  </ng-template>
  <div class="search-result-list">
    <nz-table #nzTable
              nzSize="middle"
              nzShowSizeChanger
              [nzFrontPagination]="false"
              [nzShowTotal]="pageSizeTem"
              [nzLoading]="loading"
              [nzData]="dataList"
              [(nzPageIndex)]="page.curPage"
              [(nzPageSize)]="page.pageSize"
              [nzTotal]="page.totalRow"
              (nzPageSizeChange)="refreshData(true)"
              (nzPageIndexChange)="refreshData()"
    >
      <thead>
      <tr>
        <th [nzWidth]="'100px'">
          <span>参数名称</span>
        </th>
        <th [nzWidth]="'100px'">
          <span>参数值</span>
        </th>
        <th [nzWidth]="'100px'">
          <span>参数类型</span>
        </th>
        <th [nzWidth]="'100px'">
          <span>参数说明</span>
        </th>
        <th [nzWidth]="'100px'">
          <span>参数描述</span>
        </th>
        <th [nzWidth]="'100px'">
          <span>操作</span>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of nzTable.data;let i = index;">
        <td>{{item?.paramName}}</td>
        <td>
          {{item?.paramValue}}
        </td>
        <td>
          <ng-container [ngSwitch]="item?.catalog">
            <ng-container *ngFor="let i of paramCatalogList">
              <ng-container *ngSwitchCase="i.catalog">{{i.catalogName}}</ng-container>
            </ng-container>
          </ng-container>
        </td>

        <td width="30%">{{item?.statement}}</td>
        <td>{{item?.description}}</td>
        <td>
          <a (click)="modify(item)" *authId="'A0501'">修改</a>
          <nz-popconfirm [nzTitle]="'确定要删除该参数吗？'" (nzOnConfirm)="confirmDel(item.logicId)" (nzOnCancel)="cancel()">
            <nz-divider nzType="vertical"></nz-divider>
            <a nz-popconfirm [ngStyle]="{'color':'red'}" *authId="'A0503'">删除</a>
          </nz-popconfirm>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </div>

</div>
