<form nz-form [formGroup]="validateForm" (ngSubmit)="modify()">
    <div nz-row>
        <div nz-col [nzSpan]="11">
            <nz-form-item nz-row>
                <nz-form-label nz-col [nzSm]="8">
                    <label nz-form-item-required>规则编号</label>
                </nz-form-label>
                <nz-form-control nz-col [nzSpan]="16" nzHasFeedback>
                    <input nz-input [nzSize]="'default'" formControlName="ruleId" [id]="'ruleId'">
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col [nzSpan]="11" [nzOffset]="1">
            <nz-form-item nz-row>
                <nz-form-label nz-col [nzSm]="8">
                    <label for="ruleDesp" nz-form-item-required>规则名称</label>
                </nz-form-label>
                <nz-form-control nz-col [nzSpan]="16" nzHasFeedback>
                    <input nz-input [nzSize]="'default'" formControlName="ruleDesp" [id]="'ruleDesp'">
                    <nz-form-explain *ngIf="validateForm.controls['ruleDesp'].dirty && validateForm.controls['ruleDesp'].errors">
                        {{ validateForm.controls['ruleDesp'].errors['explain'] }}
                    </nz-form-explain>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row>
        <div nz-col [nzSpan]="11">
            <nz-form-item nz-row>
                <nz-form-label nz-col [nzSm]="8">
                    <label nz-form-item-required>规则制定人</label>
                </nz-form-label>
                <nz-form-control nz-col [nzSpan]="16" nzHasFeedback>
                    <input nz-input [nzSize]="'default'" formControlName="ruleGenOpName" [id]="'ruleGenOpName'">
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col [nzSpan]="11" [nzOffset]="1">
            <nz-form-item nz-row>
                <nz-form-label nz-col [nzSm]="8">
                    <label for="ruleGenDate" nz-form-item-required>规则制定日期</label>
                </nz-form-label>
                <nz-form-control nz-col [nzSpan]="16" nzHasFeedback>
                    <input nz-input [nzSize]="'default'" formControlName="ruleGenDate" [id]="'ruleGenDate'">
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row>
        <div nz-col [nzSpan]="11">
            <nz-form-item nz-row>
                <nz-form-label nz-col [nzSm]="8">
                    <label for="addnotesCoeff" nz-form-item-required>配钞系数</label>
                </nz-form-label>
                <nz-form-control nz-col [nzSpan]="16" nzHasFeedback>
                    <input nz-input [nzSize]="'default'" formControlName="addnotesCoeff" [id]="'addnotesCoeff'">
                    <nz-form-explain *ngIf="validateForm.controls['addnotesCoeff'].dirty && validateForm.controls['addnotesCoeff'].errors">
                        {{ validateForm.controls['addnotesCoeff'].errors['explain'] }}
                    </nz-form-explain>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col [nzSpan]="11" [nzOffset]="1">
            <nz-form-item nz-row>
                <nz-form-label nz-col [nzSm]="8">
                    <label for="quotaRatio" nz-form-item-required>定额配比</label>
                </nz-form-label>
                <nz-form-control nz-col [nzSpan]="16" nzHasFeedback>
                    <input nz-input [nzSize]="'default'" formControlName="quotaRatio" [id]="'quotaRatio'">
                    <nz-form-explain *ngIf="validateForm.controls['quotaRatio'].dirty && validateForm.controls['quotaRatio'].errors">
                        {{ validateForm.controls['quotaRatio'].errors['explain'] }}
                    </nz-form-explain>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row>
        <div nz-col [nzSpan]="11">
            <nz-form-item nz-row>
                <nz-form-label nz-col [nzSm]="8">
                    <label for="addnotesPeriod" nz-form-item-required>加钞周期</label>
                </nz-form-label>
                <nz-form-control nz-col [nzSpan]="16" nzHasFeedback>
                    <input nz-input [nzSize]="'default'" formControlName="addnotesPeriod" [id]="'addnotesPeriod'">
                    <nz-form-explain *ngIf="validateForm.controls['addnotesPeriod'].dirty && validateForm.controls['addnotesPeriod'].errors">
                        <span style="color: red">请输入加钞周期!</span>
                    </nz-form-explain>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row>
            <div nz-col [nzSpan]="14" [nzOffset]="8">
                <button nz-button [nzSize]="'large'" [nzType]="'primary'" style="width: 50%">修改</button>
            </div>
        </div>
</form>
