<form nz-form #form="ngForm" class="search-form">
  <div nz-row [nzGutter]="24">
    <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="8">
      <nz-form-item nz-row>
        <nz-form-label nz-col [nzSpan]="8" nzFor="clrCenterNo">
          所属金库
        </nz-form-label>
        <nz-form-control nz-col [nzSpan]="14">
          <select-clr-center name="clrCenterNo" [(ngModel)]="formModel['clrCenterNo']" (ngModelChange)="getLineList($event)"></select-clr-center>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="8">
      <nz-form-item nz-row>
        <nz-form-label nz-col [nzSpan]="8" nzFor="taskNo">
          申请单编号
        </nz-form-label>
        <nz-form-control nz-col [nzSpan]="14">
          <input nz-input [nzSize]="'default'" [(ngModel)]="formModel['taskNo']" placeholder="请输入" name="taskNo"
                 [id]="'taskNo'">
        </nz-form-control>
      </nz-form-item>
    </div>
    <div *ngIf="expandForm" nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="8">
      <nz-form-item nz-row>
        <nz-form-label nz-col [nzSpan]="8" nzFor="lineNo">
          调拨线路
        </nz-form-label>
        <nz-form-control nz-col [nzSpan]="14">
          <nz-select [(ngModel)]="formModel['lineNo']" [nzPlaceHolder]="'请选择线路'" name="lineNo" [nzSize]="'default'"
                     nzAllowClear>
            <nz-option *ngFor="let option of lineList" [nzLabel]="option.lineName" [nzValue]="option.lineNo">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div *ngIf="expandForm" nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="8">
      <nz-form-item nz-row>
        <nz-form-label nz-col [nzSpan]="8" nzFor="status">
          申请单状态
        </nz-form-label>
        <nz-form-control nz-col [nzSpan]="14">
          <nz-select [(ngModel)]="formModel['status']" [nzPlaceHolder]="'请选择状态'" name="status" [nzSize]="'default'"
                     nzAllowClear>
            <nz-option *ngFor="let option of states" [nzLabel]="option.label" [nzValue]="option.value">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div *ngIf="expandForm" nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="8">
      <nz-form-item nz-row>
        <nz-form-label nzFor="date" nzSpan="8">
          领用日期
        </nz-form-label>
        <nz-form-control nz-col nzSpan="14">
          <nz-range-picker [(ngModel)]="formModel['dateRange']" name="date" [nzSize]="'default'" nzAllowClear="false"></nz-range-picker>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="expandForm ? 24 : 8" [class.text-right]="expandForm" style="padding-top: 4px;">
      <button nz-button [nzLoading]="loading" [nzType]="'primary'" [nzSize]="'default'" (click)="refreshData()">
        <i class="anticon anticon-search"></i>
        <span>查询</span>
      </button>
      <button nz-button [nzType]="'default'" [nzSize]="'default'" (click)="reset()" [nzLoading]="loading">
        <i class="anticon anticon-sync"></i>
        <span>重置</span>
      </button>
      <a (click)="expandForm=!expandForm">
        {{expandForm ? '收起' : '展开'}}
        <i class="anticon" [class.anticon-down]="!expandForm" [class.anticon-up]="expandForm"></i>
      </a>
    </div>
  </div>
</form>
<div nz-row class="zijin-row">
  <div nz-col [nzSpan]="12">
    <span style="font-size: 20px;">网点领现申请</span>
  </div>
  <div nz-col [nzSpan]="12" style="text-align: right;">
    <button nz-button [nzType]="'primary'" (click)="openAdd()" [nzSize]="'default'" *authId="'B050102'">
      <i class="anticon anticon-plus"></i>
      <span>添加申请单</span>
    </button>
  </div>
</div>
<ng-template #pageSizeTem>
  共{{page.totalRow}}条
</ng-template>
<div class="search-result-list">
  <nz-table #nzTable nzSize="middle" nzShowSizeChanger [nzFrontPagination]="false" [nzShowTotal]="pageSizeTem"
            [nzLoading]="loading" [nzData]="dataSet" [(nzPageIndex)]="page.curPage" [(nzPageSize)]="page.pageSize"
            [nzTotal]="page.totalRow" (nzPageSizeChange)="refreshData(true)" (nzPageIndexChange)="refreshData()">
    <thead>
    <tr>
      <th>状态</th>
      <th>申请网点</th>
      <th>申请单编号</th>
      <th>领用日期</th>
      <th>申请人</th>
      <th nzAlign="right">领现金额</th>
      <th>调拨线路</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of dataSet" [style.background]="data.background">
      <td>
<!--        <ng-container *ngFor="let state of states">-->
<!--          <nz-badge *ngIf="state.value == data.status" [nzStatus]="state.badge" [nzText]="state.label"></nz-badge>-->
<!--        </ng-container>-->
        <nz-badge [nzStatus]="'success'" [nzText]="data.statusName"></nz-badge>
      </td>
      <td>{{data.customerName}}</td>
      <td>
        <a (click)="openDetail(data)">{{data.taskNo}}</a>
      </td>
      <td>
        {{data.planFinishDate}}
      </td>
      <td>
        {{data.createOpName}}
      </td>
      <td [nzAlign]="'right'">
        {{data.depositBoxAmount | currency:'CNY':'symbol-narrow'}}
      </td>
      <td>{{data.lineName}}</td>
      <td rowspan="1">
        <ng-container *ngIf="data.status==states[0].value">
          <a (click)="audit(data, 204, 'WangDianShenPi')" *authId="'B050103'">网点审批</a>
          <nz-divider nzType="vertical"></nz-divider>
        </ng-container>
        <ng-container *ngIf="data.status==states[1].value">
          <a (click)="audit(data, 207, 'JinKuQueRen')" *authId="'B050104'">金库确认</a>
        </ng-container>
        <ng-container *ngIf="data.status==states[0].value">
          <a nz-popconfirm nzTitle="确定删除该条数据？" (nzOnConfirm)="delete(data.taskNo)" [ngStyle]="{'color':'red'}"
             [nzOkText]="'确定'" [nzCancelText]="'取消'">删除</a>
        </ng-container>
      </td>
    </tr>
    </tbody>
  </nz-table>
</div>
