<div>

  <form nz-form #form="ngForm" class="search-form">
    <div nz-row>
      <div nz-col [nzSpan]="6">
        <div nz-row>
          <nz-form-label nz-col [nzSpan]="8" style="width: auto">
            所属金库
          </nz-form-label>
          <nz-form-control nz-col [nzSpan]="14">
            <select-clr-center name="clrCenterNo" [(ngModel)]="formModel['clrCenterNo']"
                               [allowClear]="true"></select-clr-center>
          </nz-form-control>
        </div>
      </div>
      <div nz-col [nzSpan]="6">
        <div nz-row>
          <nz-form-label nz-col [nzSpan]="8" style="width: auto">
            加钞线路
          </nz-form-label>
          <nz-form-control nz-col [nzSpan]="14">
            <select-dispatch-line name="lineNo" [clrCenterNo]="formModel['clrCenterNo']"
                                  [(ngModel)]="formModel['lineNo']"></select-dispatch-line>
          </nz-form-control>
        </div>
      </div>
      <div nz-col [nzSpan]="6">
        <div nz-row>
          <nz-form-label nz-col [nzSpan]="8" style="width: auto">
            设备编号
          </nz-form-label>
          <nz-form-control nz-col [nzSpan]="14">
            <input nz-input [nzSize]="'default'" [(ngModel)]="formModel['no']" name="no" [id]="'no'">
          </nz-form-control>
        </div>
      </div>

      <div nz-col [nzSpan]="6">
        <div nz-row>
          <nz-form-label nz-col [nzSpan]="8" style="width: auto">
            所属机构
          </nz-form-label>
          <nz-form-control nz-col [nzSpan]="14">
            <org-tree [(ngModel)]="formModel['org']" [id]="'org'" name="org"></org-tree>
          </nz-form-control>
        </div>
      </div>

    </div>
    <div nz-row style="margin-top: 10px">
      <div nz-col [nzSpan]="6">
        <div nz-row>
          <nz-form-label nz-col [nzSpan]="8" style="width: auto">
            设备品牌
          </nz-form-label>
          <nz-form-control nz-col [nzSpan]="14">
            <nz-select [nzSize]="'default'" [(ngModel)]="formModel['devVendor']" name="devVendor" [nzAllowClear]="true"
                       [nzPlaceHolder]="'--请选择品牌--'">
              <nz-option *ngFor="let devVendor of devVendors" [nzValue]="devVendor.no"
                         [nzLabel]="devVendor.name"></nz-option>
            </nz-select>
            <!--<nz-input [nzSize]="'large'" [(ngModel)]="formModel['devVendor']" name="devVendor" [id]="'devVendor'"></nz-input>-->
          </nz-form-control>
        </div>
      </div>
      <div nz-col [nzSpan]="6">
        <div nz-row>
          <nz-form-label nz-col [nzSpan]="8" style="width: auto">
            设备类型
          </nz-form-label>
          <nz-form-control nz-col [nzSpan]="14">
            <nz-select [nzSize]="'default'" [(ngModel)]="formModel['devCatalog']" name="devCatalog"
                       [nzAllowClear]="true" [nzPlaceHolder]="'--请选择设备类型--'">
              <nz-option *ngFor="let devCatalog of devCatalogs" [nzValue]="devCatalog.no"
                         [nzLabel]="devCatalog.name"></nz-option>
            </nz-select>
            <!--<nz-input [nzSize]="'large'" [(ngModel)]="formModel['devCatalog']" name="devCatalog" [id]="'devCatalog'"></nz-input>-->
          </nz-form-control>
        </div>
      </div>
      <div nz-col [nzSpan]="6">
        <div nz-row>
          <nz-form-label nz-col [nzSpan]="8" style="width: auto">
            设备型号
          </nz-form-label>
          <nz-form-control nz-col [nzSpan]="14">
            <nz-select [nzSize]="'default'" [(ngModel)]="formModel['devType']" name="devType" [nzAllowClear]="true"
                       [nzPlaceHolder]="'--请选择设备型号--'">
              <nz-option *ngFor="let type of devTypes" [nzValue]="type.no" [nzLabel]="type.name"></nz-option>
            </nz-select>
          </nz-form-control>
        </div>
      </div>
      <div nz-col [nzSpan]="6">
        <div nz-row>
          <nz-form-label nz-col [nzSpan]="8" style="width: auto">
            设备地址
          </nz-form-label>
          <nz-form-control nz-col [nzSpan]="14">
            <input nz-input [nzSize]="'default'" [(ngModel)]="formModel['address']" name="address" [id]="'address'">
          </nz-form-control>
        </div>
      </div>
    </div>
    <ng-container *ngIf="expandForm">
      <div nz-row style="margin-top: 10px">
        <div nz-col [nzSpan]="6">
          <div nz-row>
            <nz-form-label nz-col [nzSpan]="8" style="width: auto">
              设备&nbsp;I&nbsp;&nbsp;P&nbsp;
            </nz-form-label>
            <nz-form-control nz-col [nzSpan]="14">
              <input nz-input [nzSize]="'default'" [(ngModel)]="formModel['ip']" name="ip" [id]="'ip'">
            </nz-form-control>
          </div>
        </div>
        <div nz-col [nzSpan]="6">
          <div nz-row>
            <nz-form-label nz-col [nzSpan]="8" style="width: auto">
              存取类型
            </nz-form-label>
            <nz-form-control nz-col [nzSpan]="14">
              <nz-select [nzSize]="'default'" [(ngModel)]="formModel['devTypeCash']" name="devTypeCash"
                         [nzAllowClear]="true" [nzPlaceHolder]="'--请选择存取类型--'">
                <nz-option *ngFor="let devTypeCash of devTypeCashs" [nzValue]="devTypeCash.no"
                           [nzLabel]="devTypeCash.name"></nz-option>
              </nz-select>
            </nz-form-control>
          </div>
        </div>
      </div>
    </ng-container>
    <div nz-row align="center" style="padding-top: 16px">
      <div nz-col [nzSpan]="14" class="text-right">
        <button nz-button [nzType]="'primary'" [nzLoading]="loading" (click)="search()" [nzSize]="'default'">
          <i class="anticon anticon-search"></i>
          <span>查询</span>
        </button>
        <button nz-button (click)="form.reset({org: curOrg});refreshData(true)" [nzSize]="'default'"
                [nzLoading]="loading">
          <i class="anticon anticon-sync"></i>
          <span>重置</span>
        </button>
      </div>
      <div nz-col [nzSpan]="10" class="text-right">
        <a (click)="expandForm=!expandForm">
          {{expandForm ? '收起' : '展开'}}
          <i class="anticon" [class.anticon-down]="!expandForm" [class.anticon-up]="expandForm"></i>
        </a>
      </div>
    </div>
  </form>

  <div nz-row class="zijin-row">
    <div nz-col [nzSpan]="12">
      <span style="font-size: 20px;">设备信息</span>
    </div>
    <div nz-col [nzSpan]="12" style="text-align: right;">
      <button nz-button [nzType]="'primary'" (click)="openAdd()" [nzSize]="'default'" *authId="'C010104'">
        <i class="anticon anticon-plus"></i>
        <span>添加</span>
      </button>
    </div>
  </div>
  <ng-template #pageSizeTem>
    共 {{page.totalRow}} 条
  </ng-template>

  <div class="search-result-list">
    <nz-table #nzTable
              nzShowSizeChanger
              [nzFrontPagination]="false"
              [nzShowTotal]="pageSizeTem"
              [nzLoading]="loading"
              [nzData]="dataList"
              [(nzPageIndex)]="page.curPage"
              [(nzPageSize)]="page.pageSize"
              [nzTotal]="page.totalRow"
              (nzPageSizeChange)="refreshData(true)"
              (nzPageIndexChange)="refreshData()">
      <thead>
      <tr>
        <th>
          <span>设备编号</span>
        </th>
        <th>
          <span>设备IP地址</span>
        </th>
        <th>
          <span>所属机构</span>
        </th>
        <th>
          <span>所属金库</span>
        </th>
        <th>
          <span>设备型号</span>
        </th>
        <th>
          <span>存取类型</span>
        </th>
        <th>
          <span>设备状态</span>
        </th>
        <th>
          <span>所属线路</span>
        </th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of nzTable.data;let i = index;">
        <td>
          <a (click)="openDetail(item)" [title]="item.address">{{item.no}}</a>
        </td>
        <td>{{item.ip}}</td>
        <td>
          {{item.sysOrg.name}}
        </td>
        <td>
          {{item.sysOrg.clrCenter?.centerName}}
        </td>
        <td>{{item.devTypeTable?.name}}</td>
        <td>
          <ng-container *ngFor="let type of devTypeCashs">
            <span *ngIf="item.devTypeCash==type.no">{{type.name}}</span>
          </ng-container>
        </td>
        <td>
          <span *ngIf="item.status=='1'">启用</span>
          <span *ngIf="item.status=='2'">停用</span>
          <span *ngIf="item.status=='3'">待运营</span>
          <span *ngIf="item.status=='4'">已撤销</span>
        </td>
        <td>
          {{item.addnotesLineName}}
        </td>
        <td>
          <a (click)="modCircle(item)" *authId="'C010107'">调整周期</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="openModify(item)" *authId="'C010103'">修改</a>
          <nz-popconfirm [nzTitle]="'确定要删除该设备吗？'" (nzOnConfirm)="confirmDel(item.no)">
            <nz-divider nzType="vertical"></nz-divider>
            <a nz-popconfirm [ngStyle]="{'color':'red'}" *authId="'C010105'">删除</a>
          </nz-popconfirm>
          <!--<nz-popconfirm [nzTitle]="'确定要训练该设备吗？'" (nzOnConfirm)="practice(item)">-->
          <!--<nz-divider nzType="vertical"></nz-divider>-->
          <!--<a nz-popconfirm>模型训练</a>-->
          <!--</nz-popconfirm>-->
        </td>
      </tr>
      </tbody>
    </nz-table>
  </div>

</div>
