<form nz-form [formGroup]="validateForm" (ngSubmit)="_submitForm()" class="search-form">
    <div nz-row>
        <nz-form-item  nz-row>
            <nz-form-label  nz-col>
                <span style="font-size: 20px;margin-top: 1px;">修改密码</span>
            </nz-form-label>
        </nz-form-item>

        <nz-form-item nz-row>
            <nz-form-label nz-col [nzSpan]="8" nzRequired style="font-size: 13px;font-weight: bold;">
                用户名
            </nz-form-label>
            <nz-form-control nz-col [nzSpan]="12">
                <input nz-input nzSize="default" formControlName="name" [id]="'name'">
            </nz-form-control>
        </nz-form-item>

        <nz-form-item  nz-row>
            <nz-form-label  nz-col [nzSpan]="8" nzRequired style="font-size: 13px;font-weight: bold;">旧密码
            </nz-form-label>
            <nz-form-control  nz-col [nzSpan]="12" nzHasFeedback [nzValidateStatus]="getFormControl('oldPassword')" class="style-text">
                <input nz-input [nzSize]="'default'" [type]="'password'" formControlName="oldPassword"
                       [id]="'oldPassword'">
                <nz-form-explain *ngIf="validateForm.controls['oldPassword'].dirty && validateForm.controls['oldPassword'].errors">
                    {{ validateForm.controls['oldPassword'].errors['explain'] }}
                </nz-form-explain>
            </nz-form-control>

        </nz-form-item>
        <nz-form-item  nz-row>
            <nz-form-label  nz-col [nzSpan]="8" [nzFor]="'newPassword'" nzRequired style="font-size: 13px;font-weight: bold;">新密码
            </nz-form-label>
            <nz-form-control  nz-col [nzSpan]="12" nzHasFeedback
                              [nzValidateStatus]="getFormControl('newPassword')" class="style-text">
                <input nz-input [nzSize]="'default'" [type]="'password'" formControlName="newPassword"
                       [id]="'newPassword'" (ngModelChange)="updateConfirmValidator()">
                <nz-form-explain *ngIf="validateForm.controls['newPassword'].dirty && validateForm.controls['newPassword'].errors">
                    {{ validateForm.controls['newPassword'].errors['explain'] }}
                </nz-form-explain>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item  nz-row>
            <nz-form-label  nz-col [nzSpan]="8" [nzFor]="'repeatNewPassword'" nzRequired style="font-size: 13px;font-weight: bold;">确认新密码
            </nz-form-label>
            <nz-form-control  nz-col [nzSpan]="12" nzHasFeedback
                              [nzValidateStatus]="getFormControl('repeatNewPassword')" class="style-text">
                <input nz-input [nzSize]="'default'" [type]="'password'" formControlName="repeatNewPassword"
                       [id]="'repeatNewPassword'">
                <nz-form-explain *ngIf="getFormControl('repeatNewPassword').dirty&&getFormControl('repeatNewPassword').hasError('required')">
                    确认密码必输
                </nz-form-explain>
                <nz-form-explain *ngIf="getFormControl('repeatNewPassword').dirty&&getFormControl('repeatNewPassword').hasError('confirm')">
                    确认密码与新密码不同
                </nz-form-explain>
            </nz-form-control>
        </nz-form-item>
    </div>
    <nz-form-item  nz-row style="margin-bottom:8px;">
        <nz-form-control  nz-col [nzOffset]="11">
            <button nz-button [nzSize]="'default'" [nzType]="'primary'">提交</button>
            <button nz-button [nzSize]="'default'" [nzType]="'primary'" (click)="resetForm($event)" style="margin-left: 5px;">重置</button>
        </nz-form-control>
    </nz-form-item>

</form>
