<form nz-form [formGroup]="validateForm" (ngSubmit)="add()">
    <div nz-row>
        <div nz-col [nzSpan]="11">
            <nz-form-item nz-row>
                <nz-form-label nz-col [nzSm]="8" nzRequired>
                    <label nz-form-item-required>金库名称</label>
                </nz-form-label>
                <nz-form-control nz-col [nzSpan]="16">
                    <select-clr-center name="clrCenterNo" formControlName="clrCenterNo" allowClear="true"></select-clr-center>
                    <nz-form-explain *ngIf="validateForm.controls['clrCenterNo'].dirty && validateForm.controls['clrCenterNo'].errors">
                        <span style="color: red">请输入金库名称!</span>
                    </nz-form-explain>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col [nzSpan]="11" [nzOffset]="1">
            <nz-form-item nz-row>
                <nz-form-label nz-col [nzSm]="8" nzRequired>
                    <label  nz-form-item-required>配钞系数</label>
                </nz-form-label>
                <nz-form-control nz-col [nzSpan]="16" nzHasFeedback>
                    <input nz-input [nzSize]="'default'" formControlName="addnotesCoeff" [id]="'addnotesCoeff'"
                        placeholder="'取值范围（0,2]'">
                    <nz-form-explain *ngIf="validateForm.controls['addnotesCoeff'].dirty && validateForm.controls['addnotesCoeff'].errors">
                        {{ validateForm.controls['addnotesCoeff'].errors['explain'] }}
                    </nz-form-explain>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row>
        <div nz-col [nzSpan]="11">
            <nz-form-item nz-row>
                <nz-form-label nz-col [nzSpan]="8" nzRequired>
                    <label [attr.for]="'startDate'" nz-form-item-required>开始日期</label>
                </nz-form-label>
                <nz-form-control nz-col [nzSpan]="16">
                    <nz-date-picker formControlName="startDate" placeholder="'请选择结束日期'" [nzSize]="'default'"
                                   name="startDate" style="width: 100%"></nz-date-picker>
                    <div nz-form-explain *ngIf="validateForm.controls['startDate'].dirty && validateForm.controls['startDate'].errors">
                        {{ validateForm.controls['startDate'].errors['explain'] }}
                    </div>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col [nzSpan]="11" [nzOffset]="1">
            <nz-form-item nz-row>
                <nz-form-label nz-col [nzSpan]="8" nzRequired>
                    <label [attr.for]="'endDate'" nz-form-item-required>结束日期</label>
                </nz-form-label>
                <nz-form-control nz-col [nzSpan]="16">
                    <nz-date-picker formControlName="endDate" placeholder="'请选择结束日期'" [nzSize]="'default'"
                                   name="endDate" style="width: 100%"></nz-date-picker>
                    <nz-form-explain *ngIf="validateForm.controls['endDate'].dirty && validateForm.controls['endDate'].errors">
                        {{ validateForm.controls['endDate'].errors['explain'] }}
                    </nz-form-explain>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row align="center">
        <button nz-button [nzType]="'primary'" [nzSize]="'default'">增加</button>
    </div>
</form>
