<div>
    <nz-card [nzHoverable]="false" [nzBordered]="false">
        <div class="detail-style1">
            <div nz-row>
                <div nz-col [nzSpan]="4">
                    <div>
                        <span>加钞线路：</span>
                    </div>
                </div>
                <div nz-col [nzSpan]="4">
                    <div>{{lineRunMapDetail.lineName}}</div>
                </div>
                <div nz-col [nzSpan]="4">
                    <div>
                        <span>运行图编号：</span>
                    </div>
                </div>
                <div nz-col [nzSpan]="4">
                    <div>
                        <ellipsis lines="1" title="{{lineRunMapDetail.lineWorkId}}">{{lineRunMapDetail.lineWorkId}}</ellipsis>
                    </div>
                </div>
                <div nz-col [nzSpan]="4">
                    <div>
                        <span>日期：</span>
                    </div>
                </div>
                <div nz-col [nzSpan]="4">
                    <div>
                        <ellipsis lines="1" title="{{runDate}}">{{runDate}}</ellipsis>
                    </div>
                </div>
            </div>
        </div>
        <nz-divider class="mb-lg"></nz-divider>
        <div nz-row>
            <div nz-col [nzSpan]="12">
                <span style="font-size: 17px;">设备信息</span>
            </div>
        </div>
        <nz-table #nzTable [nzData]="lineRunMapDetail.detailList" [nzShowPagination]="false" [nzFrontPagination]="false" [nzBordered]="true" [nzSize]="'middle'">
            <thead nz-thead>
                <tr>
                    <th nz-th rowspan="2" width="8%">
                        <div align="center">
                            <span>设备编号</span>
                        </div>
                    </th>
                    <th nz-th rowspan="2" width="8%">
                        <div align="center">
                            <span>机构编号</span>
                        </div>
                    </th>
                    <th nz-th rowspan="2" width="8%">
                        <div align="center">
                            <span>机构名称</span>
                        </div>
                    </th>
                    <th nz-th rowspan="2" width="6%">
                        <div align="center">
                            <span>清机时段</span>
                        </div>
                    </th>
                    <th nz-th rowspan="2" width="8%">
                        <div align="center">
                            <span>要求到达时间</span>
                        </div>
                    </th>
                    <!-- <th nz-th width="6%">
                        <span>操作</span>
                    </th> -->
            </thead>
            <tbody nz-tbody>
                <tr nz-tbody-tr *ngFor="let data of nzTable.data">
                    <td nz-td>
                        <div align="center">
                            <span>{{data.customerNo}}</span>
                        </div>
                    </td>
                    <td nz-td>
                        <div align="center">
                            <span>{{data.orgNo}}</span>
                        </div>
                    </td>
                    <td nz-td>
                        <div align="center">
                            <span>{{data.orgName}}</span>
                        </div>
                    </td>
                    <td nz-td>
                        <div align="center">
                            <span [ngSwitch]="data.clrTimeInterval">
                                <span *ngSwitchCase="1">上午</span>
                                <span *ngSwitchCase="2">下午</span>
                            </span>
                        </div>
                    </td>
                    <td nz-td>
                        <div align="center">
                            <span>{{data.arrivalTime}}</span>
                        </div>
                    </td>
                    <!-- <td nz-td>
                        <span *ngIf="editRow!==data.key">
                            <a (click)="delete(data.key)">删除</a>
                            <span nz-table-divider></span>
                            <a (click)="edit(data)">编辑</a>
                        </span>
                        <span *ngIf="editRow===data.key">
                            <a (click)="save(data)">保存</a>
                            <span nz-table-divider></span>
                            <nz-popconfirm [nzTitle]="'确定取消?'" (nzOnConfirm)="cancel(data)">
                                <a nz-popconfirm>取消</a>
                            </nz-popconfirm>
                        </span>
                    </td> -->
                </tr>
            </tbody>
        </nz-table>
        <!-- <div style=" width: 100%;  height: 60px; " align="center">
            <button style="margin-top: 20px" nz-button [nzSize]="'large'" [nzType]="'primary'" (click)="submit()">
                提交
            </button>
        </div> -->
    </nz-card>
</div>
