<div style=" width: 95%; height:auto; min-height:15px; left: 50%; margin-left:30px;">
    <div style=" width: 100%; height:auto; min-height:15px; left: 50%; margin-left:30px;">
    <span style="font-size: 13px; color: #1d1d1d">
       组别信息
   </span>
    </div>
    <div style=" width: 100%;height:100px; left: 50%; margin-left:30px; " align="center">
        <nz-table #nzTable [nzShowPagination]="false" [nzFrontPagination]="false" [nzBordered]="true" [nzSize]="'small'" [nzData]="dataSet">
            <tbody nz-tbody>
            <tr>
                <td style=" height: 35px">
                    <div align="center">
                        计划批次：
                    </div>
                </td>
                <td>
                    <div align="center">
                        {{addnotesPlanNo}}
                    </div>
                </td>
                <td>
                    <div align="center">
                        分组编号：
                    </div>
                </td>
                <td style=" height: 35px">
                    <div align="center">
                        {{groupNo}}
                    </div>
                </td>
                <td>
                    <div align="center">
                    </div>
                </td>
                <td>
                    <div align="center">
                    </div>
                </td>
            </tr>
            <tr>
                <td style=" height: 35px">
                    <div align="center">
                        计划加钞设备(台)：
                    </div>
                </td>
                <td>
                    <div align="center">
                        {{data['planDevCnt']}}
                    </div>
                </td>
                <td>
                    <div align="center">
                        预计全程总路程(千米)：
                    </div>
                </td>
                <td style=" height: 35px">
                    <div align="center">
                        {{data['planDistance']}}
                    </div>
                </td>
                <td>
                    <div align="center">
                        预计全程总耗时(分)：
                    </div>
                </td>
                <td>
                    <div align="center">
                        {{data['planTimeCost']}}
                    </div>
                </td>
            </tr>
            </tbody>
        </nz-table>
    </div>
    <div style=" width: 100%; height:20px; left: 50%; margin-left:30px;">
   <span style="font-size: 13px; color: #1d1d1d">
     现有设备
   </span>
    </div>
    <div style=" width: 100%; height:auto !important;height:140px;min-height:140px; left: 50%; margin-left:30px;"
         align="center">
        <nz-table #nzTable [nzShowPagination]="false" [nzFrontPagination]="false" [nzBordered]="true" [nzSize]="'small'" [nzData]="groupList">
            <thead nz-thead>
            <tr>
                <th nz-th width="10%">
                    <div align="center"><span style="font-size: 12px; color: #1d1d1d">操作</span></div>
                </th>
                <th nz-th width="10%">
                    <div align="center"><span style="font-size: 12px; color: #1d1d1d">顺序号</span></div>
                </th>
                <th nz-th width="20%">
                    <div align="center"><span style="font-size: 12px; color: #1d1d1d">网点</span></div>
                </th>
                <th nz-th width="20%">
                    <div align="center"><span style="font-size: 12px; color: #1d1d1d">设备地址</span></div>
                </th>
                <th nz-th>
                    <div align="center"><span style="font-size: 12px; color: #1d1d1d">事件类型</span></div>
                </th>
            </tr>
            </thead>
            <tbody nz-tbody>
            <tr align="center" *ngFor="let data of groupList;">
                <td>
                <span *ngIf="data.index != 0">
                    <a (click)="upRecord(groupList, data.index)">上移</a> &nbsp;
                </span>
                    <span *ngIf="data.index != groupList.length-1">
                    <a (click)="downRecord(groupList, data.index)">下移</a>
                </span>
                </td>
                <td>{{data.sortNo}}</td>
                <td>{{data.orgName}}</td>
                <td>{{data.address}}</td>
                <td>{{data.keyEventDetail}}</td>
            </tr>
            </tbody>
        </nz-table>
    </div>
    <div style=" width: 100%; height:auto; min-height:40px; " align="center">
        <button nz-button [nzLoading]="loading" [nzType]="'primary'" [nzSize]="'large'" (click)="modify()" style="margin-top: 30px">
            <span> 修改线路 </span>
        </button>
    </div>
</div>
